## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [7]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [2]:
mi_nombre = 'Juan Carlos Perez'

5) Crear una variable que contenga un número complejo

In [3]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [4]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [5]:
print('La variable 1 es de tipo ', type(var1), ' y la variable 2 es de tipo ', type(var2))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [1]:
a = 5.2 + 4

11) Realizar una operación de suma de números complejos

In [2]:
a = 3 + 1j
b = 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [4]:
c = a + 1.61
print(c)

(4.61+1j)

13) Realizar una operación de multiplicación

In [5]:
print(3 * 2)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [6]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [9]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [1]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [2]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [3]:
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [4]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [11]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [12]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [15]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [29]:
1 << 2

4

**Explicación:**  La operación 1 << 2 en Python realiza un desplazamiento a la izquierda de bits (bitwise left shift) en el número entero 1.
En este caso, el número binario 1 se desplaza dos posiciones hacia la izquierda, y se rellena con ceros a la derecha. El resultado de esta operación es 4.
Explicación paso a paso:
1. El número 1 en binario es representado como 0001.
2. Realizamos un desplazamiento de dos posiciones hacia la izquierda: 0001 << 2.
3. El resultado es 0100, que en decimal representa el número 4.*


Es importante tener en cuenta que el desplazamiento a la izquierda de bits (<<) multiplica el número original por 2 elevado a la potencia del número de posiciones desplazadas. En este caso, 1 se multiplica por 2 elevado a la potencia de 2, lo que resulta en 4.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [23]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
float(2) + float('2')

4.0

In [26]:
int(2) + int('2')

4

In [27]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [30]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces